.splashpage__grid
{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  row-gap: 10px;
  column-gap: 3px;
  width: 100%;
  margin: 8px;
  padding: 5px;
}



.placeholder__main
{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: normal;
  text-align: center;
}


.placeholder__photo
{
  width: 250px;
  height: 150px;
  border: black .5px solid;
}
