.splashpage__grid
{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 20%);
  box-sizing: border-box;
  row-gap: 80px;
  column-gap: 3px;
  width: 98%;
  margin: 50px 5px;
}

.splashpage__main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.placeholder__main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: normal;
  text-align: center;
  border: black .5px solid;
  margin: 5px;
  height: 300px;
}


.placeholder__photo
{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-bottom: .5px solid black;
}

.placeholder__main:hover
{
  box-shadow: 0 0 10px black;
  transition: ease-in-out .3s;
}

.placeholder__details
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  box-sizing: border-box;
  padding: 5px;
  border: transparent black 1px;
  font-size: 16px;
}



.placeholder__photoholder
{
  height: 70%;
  width: 100%;
}


.place__location
{
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
