.resultspage__grid
{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 20%);
  box-sizing: border-box;
  row-gap: 80px;
  column-gap: 3px;
  width: 98%;
  margin: 50px 5px;
}

.searchholder__main
{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: normal;
  text-align: center;
  border: black .5px solid;
  margin: 5px;
}

.searchholder__photo
{
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  border-bottom: black .5px solid;
}

.searchholder__main:hover
{
  box-shadow: 0 0 10px black;
  transition: ease-in-out .3s;
}
