footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: white;
  border-top: thistle solid 0.5px;
}

footer a
{
  color: blue;
}

footer a:hover
{
  border-bottom: blue 1px solid;
}
