/* TODO Add site wide styles */
* {
  margin: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



button:hover
{
  cursor: pointer;
}

a
{
  text-decoration: none;
  color: black;
}

body
{
  padding-bottom: 30px;
}
