.navbar__holder
{
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  z-index: 50;
  background-color: rgba(24, 110, 13, 0.726);
}

.navbar__links > a
{
  font-size: 20px;
  color: whitesmoke;
}

.navbar__list
{
  display:flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}


.demoOrNah
{
  margin: 5px 5px 5px 0;
}

.demo
{
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.4);
}


.teeTime__logo
{
  margin-left: 10px;
}

.signup__nav
{
  margin-right: 15px;
  padding-right: 10px;
  text-align: right;
}

.teeTime__logo > a
{
  font-size: 38px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar__links.login__nav
{
  font-size: 14px;
}


.signup__nav > a:hover
{
  background-color: rgb(255, 255, 255, 0.4);
}
