.navbar__holder
{
  height: 60px;
  background-color:white;
}

.navbar__list
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navbar__links
{
  font-size: 24px;
}

.demo
{
  border: none;
  background-color: lightgreen;
  margin: 5px 5px 0 0;
  border-radius: 5px;
}
