.teetime__formholder
{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: black 1px solid;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: white;
  right: 200px;
  top: 320px;
  border-radius: 5px;
}


.teetime__form
{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.teetime__form > input, button
{
  height: 40px;
}


.teetime__form > input:hover
{
  cursor:text;
}


.teetime__form  select
{
  margin: 5px 0px;
  height: 40px;
}
