.teetime__formholder
{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border: black 1px solid;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 100px;
  top: 100px;
}


.teetime__form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
